<p id="notice"><%= notice %></p>

<div class="container-fluid bg-primary text-white p-3 text-center">
  <h1>Edit Item</h1>
</div>


<div class="container-fluid p-3 text-center">
    <%= render 'form', project: @project %>

    <a class="btn btn-primary text-white" href="#" role="button">Edit</a> |
    <a class="btn btn-primary text-white" href="/" role="button">Back</a>
    
</div>

