<div class="custom-container1 text-white text-center p-5pt">
    <h1>New Project</h1>
</div>

<div class="custom-container2 p-5pt">
    <%= render 'form', project: @project %>
</div>

<div class="custom-container1 text-center p-5pt">
  
    <a class="btn btn-secondary text-white" href="/" role="button">Back</a>

</div>

