@import "~bootstrap/scss/bootstrap";

* html{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d6efd ;
}
html{
  background-color: #6c757d;
}


table {
  
  font-size: 1em;
  margin: .3em;
  width: 290px;
  width: auto;
}

th {
  
  font-size: larger;
  padding: .2em;
}

td {
  
  padding-left: .5em;
  padding-right: .5em;
  border: 2px solid #0d6efd;
  background-color: rgb(204, 230, 245);
}

#trHeader {
  
  text-decoration: underline;
  color: #900;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.centerCell {
  text-align: center;
}

.container-fluid {

  background-color: #0d6efd

}

.field label{
  font-size: larger;
  font-weight: bold;
}

